body {
    background-color: black;
    color: white;
    font-family: "Libre Baskerville", serif;

}


.div_post {
    margin: 50px 25%;
}

img {
    border: 5px white;
    background-color: white;
    width: 100%;
    padding: 5px;
}


h1 {
    text-transform: uppercase;
    font-size: 30px;
}

.text_img {
    text-align: center;
    
}

